---
# Customizing CSS for theme
---



$text-color: #71CBF4;
$grey-color: #135188;
$grey-color-end: #000428;
$grey-color-dark: lighten($grey-color-end, 5%);



@import "{{ site.theme }}";


/**
 * @mixin for gradient compatibility
 */
@mixin gradient($start-color, $end-color, $orientation)
{
background: $start-color;
@if $orientation == vertical
{
// vertical
background: -moz-linear-gradient(top,  $start-color 0%, $end-color 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$start-color), color-stop(100%,$end-color));
background: -webkit-linear-gradient(top,  $start-color 0%,$end-color 100%);
background: -o-linear-gradient(top,  $start-color 0%,$end-color 100%);
background: -ms-linear-gradient(top,  $start-color 0%,$end-color 100%);
background: linear-gradient(to bottom,  $start-color 0%,$end-color 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start-color', endColorstr='$end-color',GradientType=0 );
}
@else if $orientation == horizontal
{
// horizontal
background: -moz-linear-gradient(left,  $start-color 0%, $end-color 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,$start-color), color-stop(100%,$end-color));
background: -webkit-linear-gradient(left,  $start-color 0%,$end-color 100%);
background: -o-linear-gradient(left,  $start-color 0%,$end-color 100%);
background: -ms-linear-gradient(left,  $start-color 0%,$end-color 100%);
background: linear-gradient(to right,  $start-color 0%,$end-color 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start-color', endColorstr='$end-color',GradientType=1 );
}
@else
{
// radial
background: -moz-radial-gradient(center, ellipse cover,  $start-color 0%, $end-color 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,$start-color), color-stop(100%,$end-color));
background: -webkit-radial-gradient(center, ellipse cover,  $start-color 0%,$end-color 100%);
background: -o-radial-gradient(center, ellipse cover,  $start-color 0%,$end-color 100%);
background: -ms-radial-gradient(center, ellipse cover,  $start-color 0%,$end-color 100%);
background: radial-gradient(ellipse at center,  $start-color 0%,$end-color 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start-color', endColorstr='$end-color',GradientType=1 );
}
}



/**
 * Basic styling
 */
 body {
    @include gradient($grey-color, $grey-color-end, radial);
}


  
/**
 * Site header
 */
.site-title, .site-title:visited {
    color: $grey-color-light;
}


/**
 * Site strong intro
 */
#strong-intro  {
    animation: glow .5s infinite alternate;
    font-size: 2em;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes glow {
    to {
        text-shadow: 0 0 10px $grey-color-light;
    }
}

#home-div {
    background-image: url("/assets/img/background-1.png");
    background-attachment: fixed;
    background-position: top 12vh center;
    background-repeat: no-repeat;
    // background-size: cover;
    // background-origin: padding-box, padding-box;
    // background-clip: border-box, border-box;
    min-height: 500px;
    position: relative;
}


/**
 * Organization content
 */
.org-list-heading {
    @include relative-font-size(1.75);
  }
  
.org-list {
margin-left: 0;
list-style: none;

    > li {
        border: 2px solid;
        padding: 2vw;
        -webkit-clip-path: url(#svgPath);
        clip-path: url(#svgPath);
        margin-bottom: $spacing-unit;
    }
}
