---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.members.size > 0 -%}
    <h2 class="org-list-heading">{{ page.list_title | default: "Team" }}</h2>
    <ul class="org-list">
      {%- for members in site.members -%}
      <li>
        <h3>
            {{ members.title | default: "Name" }}
        </h3>
        {{ members.content }}
        {%- if site.show_excerpts -%}
          {{ members.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
